POSTGRES_USER=app
POSTGRES_PASSWORD=change_me
POSTGRES_DB=salesdb
DATABASE_URL=postgresql://app:change_me@db:5432/salesdb?schema=public

NEXTAUTH_URL=https://seu-dominio.com
NEXTAUTH_SECRET=coloque_um_segredo_forte_aqui
AZURE_AD_CLIENT_ID=coloque_o_client_id_aqui
AZURE_AD_CLIENT_SECRET=coloque_o_client_secret_aqui
AZURE_AD_TENANT_ID=coloque_o_tenant_id_aqui
