# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/frontend/node_modules
/backend/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/frontend/.next/
/out/
/frontend/out/

# production
/build
/frontend/.next
/backend/.next

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
**/.env
/frontend/.env.local
/backend/.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# auth implementation
AUTH_IMPLEMENTATION.md

# build artifacts
/frontend/.next
/backend/.next
/public/images/logo-light.png
/public/images/logo-dark.png
frontend/public/images/logo-light.png
frontend/public/images/logo-dark.png
